body {
    margin: 0;
    padding: 0;
    border-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f7f6; /* Fundo suave para contraste com os elementos */
    color: #333;
    height: 100vh; /* Garantir que ocupe toda a altura da tela */
    padding: 20px;
}

input {
    width: 100%;
    max-width: 400px;
    margin: 15px 0;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;

}

input:focus {
    outline: none;
    border-color: #4a148c;
}

.container {
    width: 70%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 8px;
}

.balao {
    white-space: pre-line;
    width: 30%;
    background-color: #4a148c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    max-width: 70%;
    display: none;
}

.balao.visivel {
    display: inline-block;
    width: 45%
}

button {
    padding: 10px 20px;
    background-color: #4a148c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;    
}

button:hover {
    background-color: #6a1b9a;
}

#mensagem{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 1s ease;
}

#mensagem.visivel{
    display: block;
    opacity: 1;
}

.container.desaparecer{
    opacity: 0;
    transition: opacity 1s ease;
}
